---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config/site.mjs";
---

<Layout
  title={SITE.title}
  description="Un club étudiant dédié à la programmation et à la technologie, axé sur les projets, ateliers et l’apprentissage par la pratique."
  canonicalURL={SITE.url}
>
  <Header />
  <main id="main-content" role="main">
    <Hero />
    <Features />
    <CTA />
  </main>
  <Footer />
</Layout>
